<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBLJxufEjr9RbXcFEd9d5oP9CYYvvjoJF4</string>
	<key>GCM_SENDER_ID</key>
	<string>271553273620</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.p1muriloehenrique</string>
	<key>PROJECT_ID</key>
	<string>p1-muriloe-henrique-qld42j</string>
	<key>STORAGE_BUCKET</key>
	<string>p1-muriloe-henrique-qld42j.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:271553273620:ios:844c77897f201a2f2eac01</string>
</dict>
</plist>